/* SignupForm */

.signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.signup-container > .error {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.signup-container > .logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container > .logo-img > img {
  height: 70px;
  margin-right: .5rem;
}
.signup-container > .logo-img > .logo-span {
  display: flex;
  flex-direction: column;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container input,
.signup-container select,
.signup-container button {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; 
}

.signup-container button {
  background: #F07489;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-container button:hover {
  background: #3f51b5;
}

.signup-container input::placeholder {
  color: #bbb;
}

.signup-container select {
  background: white;
  color: #333;
}

.signup-container select option {
  color: #333;
}

@media (max-width: 768px) {
  .signup-container {
    max-width: 90%;
  }
}

/* LoginForm */

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.login-container > .error {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

form {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.login-container > .logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container > .logo-img > img {
  height: 70px;
  margin-right: .5rem;
}
.login-container > .logo-img > .logo-span {
  display: flex;
  flex-direction: column;
}


.login-container
input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #F07489;
}

button {
  padding: 10px 15px;
  color: white;
  background-color: #F07489;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e0637c;
}

button:active {
  background-color: #d9534f;
}

.signup-link {
  text-align: center;
  text-decoration: none;
  color: #333;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  form {
    width: 90%;
  }
}

/* FindForm */

/* 공통 스타일 */
.findaccount-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
}

.findaccount-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.findaccount-container input[type="email"] {
  margin-top: 5px;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.findaccount-container button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #F07489;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.findaccount-container button:hover {
  background-color: pink;
}

.forgot-link p {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  color: black; /* 클릭 이전 글자색 검은색 */
  text-decoration: none; /* 밑줄 제거 */
}

/* 활성화된 링크 스타일 */
.active-link {
  color: red;
  text-decoration: none; /* 밑줄 제거 */
}
