/* FriendListForm.css */
.friendListForm-container {
    padding: 20px;
}

.friendList {
    list-style-type: none;
    padding: 0;
}

.friendItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.friendItem > .friendManage {
    margin-left: auto;
}
.friendItem > .friendManage > .icon {
    height: 2rem;
    padding: .5rem;
    margin-right: 1px;
    border-radius: .5rem;
}
.friendItem > .friendManage > .icon:hover {
    background-color: pink;
    transition: .5s;
}

.friendInfo {
    margin-left: 15px;
}

.friendNickname, .friendBio {
    display: block; /* Makes bio appear below the nickname */
}
.friendNickname {
    font-size: 1rem;
    font-weight: bold;
    color: #2c3e50;
}
.friendBio {
    font-size: 0.8rem;
    color: #7f8c8d;
    margin-top: 5px;
}

.friendProfilePic {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Makes the profile picture circular */
}
