.profile-page-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;

}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-header input[type="text"], 
.profile-header input[type="file"] {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.profile-bio textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.profile-page-container > button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #F07489;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: pink;
}
