@font-face {
  font-family: "ugro-bold";
  src: url("static/font/SB어그로B.otf");
}
@font-face {
  font-family: "ugro-light";
  src: url("static/font/SB어그로L.otf");
}
@font-face {
  font-family: "ugro-medium";
  src: url("static/font/SB어그로M.otf");
}

body {
font-family: ugro-light, Helvetica, Arial, sans-serif;
font-size: 1.2rem;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: #2c3e50;
animation-fill-mode: forwards;
}

body::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

/* 글자편의용 */
.color {
  color: #F07489;
}

.bold {
  font-family: ugro-bold, Helvetica, Arial, sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;

  }
  to {
    opacity: 0;
  }
}
