@charset "utf-8";

/* font */
@font-face {
    font-family: "ugro-bold";
    src: url("../font/SB어그로B.otf");
}
@font-face {
    font-family: "ugro-light";
    src: url("../font/SB어그로L.otf");
}
@font-face {
    font-family: "ugro-medium";
    src: url("../font/SB어그로M.otf");
}